<!-- <full-calendar
    defaultView="timeGrid"
    [locales]="locales"
    locale="fr"
    [weekends]="false"
    >
</full-calendar>  -->



<!--    <div class='demo-app-sidebar'>
        <div class='demo-app-sidebar-section'>
            <h2>Instructions</h2>
            <ul>
                <li>Selectionner une date pour céer un nouvel évènement/li>
                <li>Copier, coller, et redimensionner les évènements</li>
                <li>Cliquer qur un évènement pour le supprimer</li>
            </ul>
        </div>
        <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarVisible' (change)='handleCalendarToggle()' />
                rendre invisible le calendrier
            </label>
        </div>
        <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
                retirer les weekends
            </label>
        </div>
        <div class='demo-app-sidebar-section'>
            <h2>tous les évènements({{currentEvents.length}})</h2>
            <ul>
                <li *ngFor='let event of currentEvents'>
                    <b>{{event.startStr}}</b>
                    <i>{{event.title}}</i>
                </li>
            </ul>
        </div>
    </div> -->

<!-- FORMULAIRE AJOUT CAVALIER -->
<div id="box" [style.visibility]="containerAddVisible">
    <div id="boxAjoutSeance">
        <div class="exit">
            <button id="buttonExit" (click)="exitNewSession()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
        <form id="formulaireAjoutSeance" [formGroup]="sessionFormControl" (submit)="createSession()">
            <p>Date</p>
            <mat-form-field appearance="fill">
                <input id="textInputContent" formControlName="date" type="datetime-local" placeholder="new Date()"
                    matInput />
            </mat-form-field>

            <p>Durée</p>
            <mat-form-field appearance="fill">
                <input id="textInputContent" formControlName="duree" type="number" placeholder="60" step="5" value="60"
                    matInput />
                <mat-error *ngIf="sessionFormControl.get('duree')?.hasError('required')">
                    Veuillez entrer <strong>la durée de la séance</strong>.
                </mat-error>
            </mat-form-field>

            <p>Nombre de place</p>
            <mat-form-field appearance="fill">
                <input id="textInputContent" formControlName="nbPlaces" type="number" placeholder="7" step="1" value="7"
                    matInput />
                <mat-error *ngIf="sessionFormControl.get('nbPlaces')?.hasError('required')">
                    <strong>Entrer</strong> le nombre de places.
                </mat-error>
            </mat-form-field>

            <p>Niveaux</p>
            <mat-form-field appearance="fill">
                <mat-select formControlName="niveaux" multiple>
                    <mat-option *ngFor="let level of levelsList" [value]="level">{{level.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p>Catégorie</p>
            <mat-form-field appearance="fill">
                <mat-select formControlName="categorie" multiple>
                    <mat-option value="Baby-Poneys">Baby-Poneys</mat-option>
                    <mat-option value="Poneys">Poneys</mat-option>
                    <mat-option value="Chevaux">Chevaux</mat-option>
                </mat-select>
            </mat-form-field>

            <p>Type de la séance</p>
            <mat-form-field appearance="fill">
                <input type="text" placeholder="" matInput[formControl]="sessionFormControl" [matAutocomplete="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">

                    <mat-option *ngFor="let type of sessionTypeList" [value]="type">{{type.nom}}
                    </mat-option>

                </mat-autocomplete>
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-label>Choisir un niveau:</mat-label>
                <mat-select formControlName="niveau">
                      <mat-option *ngFor="let level of levelsList"
                            [value]="level" >{{level.nom}} 
                      </mat-option>
                </mat-select>
              </mat-form-field> -->

            <!-- <p><input id="textInputContent" formControlName="niveau" type="text"  placeholder=""
                      matInput /></p>
              <mat-error *ngIf="riderFormControl.get('niveau')?.hasError('required')">
              <strong>Sélectionner</strong>le niveau.
              </mat-error>
              <br> -->
            <div id="validationNewSession">
                <button type="submit" id="sessionButton">
                    Valider
                </button>
            </div>
        </form>
    </div>

</div>
<!-- FIN FORMULAIRE AJOUT CAVALIER -->
<div class='demo-app'>

    <div class='demo-app-main'>
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'></full-calendar>
    </div>

</div>

<body>
    <div class='demo-topbar'>
        <button data-codepen class='codepen-button'>Edit in CodePen</button>




        Click the &quot;add event...&quot; button

    </div>

    <div id='calendar'></div>
</body>