<div class="titre">
  <h1>Mes réservations</h1>
</div>
<div id="boutons">
  <button (click)="makePDF()"><mat-icon>picture_as_pdf</mat-icon>Télécharger l'historique en pdf</button>
  <form [formGroup]="datesFormControl">
    <mat-form-field appearance="fill" id="pdf">
      <mat-label>Entrer la période</mat-label>
      <mat-date-range-input [formGroup]="datesFormControl" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <button (click)="searchSessions()" id="btnSearch">Chercher</button>

  </form>


  <mat-form-field appearance="standard" id="filtre">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ethologie" #input>
  </mat-form-field>
</div>

  <div class = "pageWrapper">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID - seance </th>
          <td mat-cell *matCellDef="let row"> {{row.seance.id}} </td>
        </ng-container>
    
        <!-- Date Reservation Column -->
        <ng-container matColumnDef="dateReservation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de réservation </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>
    
        <!-- Date Session Column -->
        <ng-container matColumnDef="dateSeance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de la séance </th>
          <td mat-cell *matCellDef="let row"> {{row.seance.dateDebut}} </td>
        </ng-container>

        <!-- Time Column -->
        <ng-container matColumnDef="timeSeance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Horaire de la séance </th>
          <td mat-cell *matCellDef="let row"> {{row.seance.horaire}} </td>
        </ng-container>      
    
        <!-- Levels Column -->
        <ng-container matColumnDef="listeNiveaux">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau(x) </th>
          <td mat-cell *matCellDef="let row"> 
              <ul>
                  <li *ngFor="let level of row.listeNiveaux">{{level.nom}}</li>
              </ul>
          </td>
        </ng-container>

        <ng-container matColumnDef="typeSeance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de la séance </th>
          <td mat-cell *matCellDef="let row"> {{row.seance.typeSeance.nom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="dureeSeance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Durée de la séance </th>
          <td mat-cell *matCellDef="let row"> <output>{{row.seance.duree/60}}</output> h </td>
        </ng-container>

        <ng-container matColumnDef="categories">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie(s) </th>
          <td  mat-cell *matCellDef="let row">
            <ul>
              <li *ngFor="let typeEquide of row.listeEquides">{{typeEquide.nom}}</li>
            </ul>  
          </td> 
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <div  class="mat-elevation-z8" #content id="content" [style.visibility]="containerPdf">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID - seance </th>
            <td mat-cell *matCellDef="let row"> {{row.seance.id}} </td>
          </ng-container>
      
          <!-- Date Reservation Column -->
          <ng-container matColumnDef="dateReservation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de réservation </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
      
          <!-- Date Session Column -->
          <ng-container matColumnDef="dateSeance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de la séance </th>
            <td mat-cell *matCellDef="let row"> {{row.seance.dateDebut}} </td>
          </ng-container>
  
          <!-- Time Column -->
          <ng-container matColumnDef="timeSeance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Horaire de la séance </th>
            <td mat-cell *matCellDef="let row"> {{row.seance.horaire}} </td>
          </ng-container>      
      
          <!-- Levels Column -->
          <ng-container matColumnDef="listeNiveaux">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau(x) </th>
            <td mat-cell *matCellDef="let row"> 
                <ul>
                    <li *ngFor="let level of row.listeNiveaux">{{level.nom}}</li>
                </ul>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="typeSeance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de la séance </th>
            <td mat-cell *matCellDef="let row"> {{row.seance.typeSeance.nom}} </td>
          </ng-container>
      
          <ng-container matColumnDef="dureeSeance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Durée de la séance </th>
            <td mat-cell *matCellDef="let row"> <output>{{row.seance.duree/60}}</output> h </td>
          </ng-container>
  
          <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie(s) </th>
            <td  mat-cell *matCellDef="let row">
              <ul>
                <li *ngFor="let typeEquide of row.listeEquides">{{typeEquide.nom}}</li>
              </ul>  
            </td> 
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
