main{
    width: 85%;
    margin: 2% 7.5%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: auto;
}

button{
    border: none;
    margin: 1px;
    background-color: inherit;
    &:hover{
        scale: 1.1;
        color: #839192;
        background-color: inherit;
    }
}