<header>
  <div *ngIf="email!=''" class="row-nav">
    <div class="signOut">
      <a routerLink="" (click)="signOut()">Se déconnecter</a>
    </div>

    <div class="logo">
      <img src="../assets/img/logo2.png" alt="logo" width="110" height="90">
    </div>

    <div *ngIf="admin" class="menu">
        <ul>
            <li><a routerLink="espace-administrateur/gestion-des-séances">Les séances</a></li>
            <li><a routerLink="espace-administrateur/gestion-des-équidés">Les équidés</a></li>
            <li><a routerLink="espace-administrateur/gestion-des-cavaliers">Les cavaliers</a></li>
            <li><a routerLink="espace-administrateur/gestion-des-cartes">Les cartes</a></li>
        </ul>
    </div>

    <div *ngIf="monitor" class="menu">
      <ul>
          <li><a routerLink="espace-administrateur/gestion-des-séances">Les séances</a></li>
          <li><a routerLink="espace-administrateur/gestion-des-équidés">Les équidés</a></li>
          <li><a routerLink="espace-administrateur/gestion-des-cavaliers">Les cavaliers</a></li>
          <li><a routerLink="espace-administrateur/gestion-des-cavaliers">Attribution / moniteur</a></li>
      </ul>
    </div>

    <div *ngIf="rider" class="menu">
      <ul>
        <li><a routerLink="espace-cavalier">Les séances</a></li>
        <li><a routerLink="espace-administrateur/gestion-des-cavaliers">Les cavaliers</a></li>
        <li><a routerLink="espace-administrateur/gestion-des-cartes">Les cartes</a></li>
        <li><a routerLink="espace-administrateur/gestion-des-cavaliers">Espace cavalier</a></li>
      </ul>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
<footer>
  <p>
    <a href="http://ecole-equitation-saint-avold.simplesite.com/">École d'Équitation de Saint-Avold</a> -
    <a href="https://fr-fr.facebook.com/ecoleequitationsaintavold/">Facebook<mat-icon>facebook</mat-icon></a>
  </p>
</footer>
