<header>
  <div *ngIf="email!= ''" class="row-nav">
    <div class="signOut">
      <div><button routerLink="" (click)="signOut()">Se déconnecter</button></div>
      <!-- <div><img src="../assets/img/horse-1.png" alt="icon" width="45" height="25"></div> -->

    </div>

    <div class="logo">
      <a routerLink="planning">
      <img src="../assets/img/logo2.png" alt="logo" width="115" height="95">
      </a>
    </div>

    <div *ngIf="admin" class="menu">
        <ul>
            <li><a routerLink="espace-administrateur">Les séances</a></li>
            <li><a routerLink="espace-administrateur/gestion-des-equides">Les équidés</a></li>
            <li><a routerLink="espace-administrateur/gestion-des-cavaliers">Les cavaliers</a></li>
            <li><a routerLink="espace-administrateur/gestion-des-cartes">Les cartes</a></li>
        </ul>
    </div>

    <div *ngIf="monitor" class="menu">
      <ul>
          <li><a routerLink="espace-moniteur/gestion-des-seances">Les séances</a></li>
          <li><a routerLink="espace-moniteur/gestion-des-equides">Les équidés</a></li>
          <li><a routerLink="espace-moniteur/gestion-des-cavaliers">Les cavaliers</a></li>
          <li><a routerLink="espace-moniteur/gestion-des-cavaliers">Attribution / moniteur</a></li>
      </ul>
    </div>

    <div *ngIf="rider" class="menu">
      <ul>
        <li><a routerLink="planning">Planning</a></li>
        <li><a routerLink="espace-cavalier/historique-reservations">Historique</a></li>
        <li><a routerLink="espace-cavalier/informations-personnelles">Informations personnelles</a></li>
        <!-- <li><a routerLink="espace-cavalier/gestion-des-cavaliers">Espace cavalier</a></li> -->
      </ul>
    </div>
  </div>
</header>

<div *ngIf="rider" id="banniere">
  <div id="photo">
      <h1>Espace cavalier</h1>
      <img id="picture" src="../assets/img/the-girls-ride-on-horses.jpg" width="95" height="95" />
      <div class="cercle"></div>
  </div>
  <div><h3>Hello {{ name }}</h3></div>

</div>

<router-outlet></router-outlet>

<footer>
  <p>
    <a href="http://ecole-equitation-saint-avold.simplesite.com/">École d'Équitation de Saint-Avold</a> -
    <a href="https://fr-fr.facebook.com/ecoleequitationsaintavold/">Facebook<mat-icon>facebook</mat-icon></a>
  </p>
</footer>
