.row-nav{
    padding: 12px 0;
    background: black;
    
    // background: -webkit-linear-gradient(45deg, #535a6d 5%, #77021D 100%);
    // background: -o-linear-gradient(45deg, #535a6d 5%, #77021D 100%);
    // background: linear-gradient( #a5a9b3,#535a6d,#2a2e38,black);
    // background: linear-gradient(180deg, #154744 0, #124748 6.25%, #10474b 12.5%, #0f474e 18.75%, #0f4751 25%, #124653 31.25%, #154556 37.5%, #1a4558 43.75%, #1f4459 50%, #24435a 56.25%, #2a425b 62.5%, #2f415b 68.75%, #35405a 75%, #3a3f5a 81.25%, #3f3d58 87.5%, #433c57 93.75%, #483b55 100%);;
    //background: linear-gradient(180deg, #5d6366 0, #415460 25%, #1f4459 50%, #003553 75%, #00264d 100%);;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signOut{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    // flex-direction: column;
    //  justify-content: flex-end;
}

.signOut a{
    grid-column: 3;
    display: flex;
    justify-content: end;
    text-decoration:  none;
    color: white;
}

.signOut a:hover{
    transition: 0.55s ease-in-out;
    color:#c63b3b;
    cursor: pointer;
}

.menu{
    margin-top: 5px;
    justify-content: space-between;

    /* right: 0; */
}

.menu ul{
    padding: 0;
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* display: flex;*/
    flex-direction: row; 
    display: flex;

/* justify-content: flex-end; */

}

.menu ul li a{
    list-style-type: none;
    color:#FFFFFF;
    text-transform : uppercase;
    margin-right: 30px;
    margin-left: 10px;
    text-decoration:  none;
}

.menu ul li a:visited{
    color:white;
}

.menu ul li a:hover{
    transition: 0.45s ease-in-out;
    color:#c63b3b;
    cursor: pointer;
}
// #lienCartes{
//     color:#c63b3b;
// }
// .menu ul li a:active{
//     color:#c63b3b;
// }

// @media only screen and (max-width:523px){
//     .menu{
//         position: absolute;
//         right: 0;
//         margin-left:10px;
//         top : 64px;
//         background: black;
//     }
// }

h2 {
    font-size: 1rem;
    font-style: italic;
}

img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.7s;
}
img:hover {
    transform:scale(1.1);
}

.hr {
    /* centre verticalement les enfants entre eux */
    align-items: center;

    /* active flexbox */
    display: flex;

    /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
    text-align: center;
}

.hr::before,
.hr::after
{
    /* remplir le fond du trait permet également d’utiliser des images ou dégradés ! */
    background: currentColor;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* l’unité « em » garantit un ratio constant avec la taille du texte */
    height: .025em;

    /* espace les traits du texte */
    margin:0.5em ;
}

footer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}