<main>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                    Précédent
                </div>
            <div class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            Aujourd'hui
            </div>
            <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">Suivant
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
        </div>
    <div class="col-md-4">
        <div class="btn-group">
              <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                  Mois
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                  Semaine
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                  Jour
              </div>
        </div>
    </div>
  </div>
    <div [style.visibility]="alertVoidSession" class="msg-danger">
        <div class="xd-message-icon">
            <i class="ion-close-round"><mat-icon>info</mat-icon></i>
        </div>
        <div class="xd-message-content">
            <p><strong>Aucune réservation&nbsp;</strong> pour le moment.</p>
        </div>
        <button (click)="exitAlertVoidSession()" class="xd-message-close close-icon">&#10006;</button>
    </div>
  <br/>
  
  <div [ngSwitch]="view">
      <mwl-calendar-month-view 
        *ngSwitchCase="CalendarView.Month"
        [hourSegments]="2"
        [dayStartHour]="8"
        [dayEndHour]="21"
        [weekStartsOn]="1"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked($event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
  
      <mwl-calendar-week-view
       *ngSwitchCase="CalendarView.Week"
      [hourSegments]="2"
      [dayStartHour]="8"
      [dayEndHour]="21"
      [weekStartsOn]="1"      
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)">
      
      </mwl-calendar-week-view>
  
      <mwl-calendar-day-view 
      *ngSwitchCase="CalendarView.Day"
      [hourSegments]="2"
      [dayStartHour]="8"
      [dayEndHour]="21"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
  </div>

    <div id="box" [style.visibility]="containerAttributionHorse">
        <!-- [formGroup]= "attributionFormControl"  -->
        <form id="formulaireAttribution"(submit)="addAttribution()">
            <div class="exit"> 
                
                <button id="buttonExit" (click)="exitBox()">

                <!-- <button id="buttonExit" (click)="exitBox()"> -->
                <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
            <!-- <h1>{{session.title}}&nbsp;{{session.niveau}}&nbsp;{{session.typeSeance.nom}}</h1> -->
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Cavalier</th>
                        <!-- <th>Proposition</th> -->
                        <th>Équidé</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let reservation of reservations; let indexOfelement=index;">
                        <td>
                            <span class="uppercase">{{reservation.cavalier.nom}}</span>&nbsp;{{reservation.cavalier.prenom}}
                        </td>
                        <!-- <td>
                            {{reservation.proposition}}
                        </td> -->
                        <td>
                            <mat-form-field appearance="fill">
                                    <mat-label>Choisir l'équidé :</mat-label>
                                    <mat-select formControlName="equide">
                                        <mat-option *ngFor="let equide of equideList"
                                            [value]="equide" >{{equide.nom}} 
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="validationAttribution">
                <button type="submit" id="validationButton">
                    Valider
                </button>
            </div>
        </form>

    </div>
</main>