<main>
    <mwl-calendar-week-view 
        [viewDate]="viewDate"
        [hourSegments]="2"
        [dayStartHour]="8"
        [dayEndHour]="21"
        [weekStartsOn]="1"
        ></mwl-calendar-week-view>

    
    <!-- <iq-calendar-week-hours-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [hourSegments]="2"
            [dayStartHour]="8"
            [dayEndHour]="20">
        </iq-calendar-week-hours-view> -->
</main>

            <!-- [events]="events" -->
