main{
    background-image: url("/assets/img/fond-centre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    margin-top: 20px;
    color:#FFFFFF;
    overflow: hidden;
}

#body{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 95%;
    background: rgba(216,223,189,0.55);
    text-align: center;
    // justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 15px;
    color: #000000;
}

#container-infos{
    display: flex;
    flex-direction: row;
    height: 90%;
    width:90%;
    // background-color: aqua;
    justify-content: space-evenly;
}

#left{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background: rgba(0,0,0,0.70);
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    color: #FFFFFF;
}

@media screen and (max-width: 1164px){
    #left{
        width: 40%;
    }

    #right{
        width: 50%;
    }
    
}

@media screen and (max-width: 1000px){
    #left{
        width: 40%;
    }

    #right{
        width: 50%;
    }

    #body{
        width: 85%;
    } 
}

@media screen and (max-width: 640px){
    #left{
        width: 80%;
    }

    #right{
        width: 80%;
    }

    #body{
        width: 80%;
    } 

    #container-infos{
        display: flex;
        flex-direction: column;
        // background-color: aqua;
    }
}

#right{
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    // justify-content: center;
    border-radius: 7px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding-top: 10px;
    color: #FFFFFF;
}

#titre{
    height: 10%;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // text-align: center;
    // justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 15px;
}

#validationNewInfos{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-left: -7%;
    // height: 30%;
}

#infosButton{
  width: 60%;
  border-radius: 50px;
  border: 2px #000000 solid;
//   opacity: 0.8;
  background-color: rgba(216,223,189,0.9);
  color:#000000;
  filter: none;
  margin-left: 22%;
  padding: 5px;
}

#infosButton:hover{
    opacity: 1;
    background-color: rgba(93,111,99,0.9);
    color:#000000;
    border: 2px #000000 solid;
    transition:250ms;
    transform: scale(1.01, 1.01);
    filter: none;
}

// form{
//     margin-top: 5%;
//     color: #FFFFFF;
// }

p{
    margin-top: 1%;
    margin-bottom: 0;
    color:#5d6f63;
    font-weight: bold;
    font-size:16px;
}

mat-form-field{
    margin-bottom: 1%;
    color: #FFFFFF;
}

input.ng-pristine
{
  color:white;
}
input.ng-dirty
{
  color:white
}

mat-label{
    color:#FFFFFF;
}

.input{
    color:white;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 7%;
    border-bottom: 1px solid #000; 
    width: 65%;
    justify-content: center;
    margin-left:18%;
    margin-top: 5%;
}

.champ{
    display: flex;
    flex-direction: column;
    width:auto;
}

mat-icon{
    color:#000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(14, 14, 14, 1) inset !important;
    // opacity: 0.01;
    color:#FFFFFF;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
    // opacity: 1;
}

button.edit{
    // width: 35%;
    border-radius: 50px;
    border: 2px #000000 solid;
    margin-left: 0;
  //   opacity: 0.8;
    background-color: rgba(216,223,189,0.9);
    color:#000000;
    filter: none;
    // margin-left: 22%;
    border-color: #5d6f63;
    color: #000000;
    box-shadow: 0 0 40px 40px #5d6f63 inset, 0 0 0 0 #5d6f63;
    transition: all 150ms ease-in-out;
    padding: 6px 6px 6px 6px;

    
    &:hover {
        box-shadow: 0 0 10px 0 #5d6f63 inset, 0 0 10px 4px #5d6f63;
    }
}

button:hover{
    opacity: 1;
    background-color: rgba(93,111,99,0.9);
    color:#000000;
    border: 2px #000000 solid;
    transition:250ms;
    transform: scale(1.01, 1.01);
    filter: none;
}

.modifContainer button.save{
    width: 110px;
    height: 40px;
    background-color:rgba(0,0,0,0.7);
    color:#d8dfbd;
    border-radius: 3px;
}

.modifContainer button.save:hover{
    opacity: 1;
    background-color: rgba(216,223,189,0.7);
    color:#000000;
    border: 2px #d8dfbd solid;
    transition:250ms;
    transform: scale(1.01, 1.01);
    filter: none;
}

#right p{
    color : #d8e1b4;
}

::ng-deep {
    .mat-form-field .mat-form-field-flex{
    background-color: rgba(216,225,180,0.5) ;
    color:black;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(216, 225, 180, 0) inset !important;
    opacity: 0.5;
    color:#000000;
}

input:-webkit-autofill{
    -webkit-text-fill-color: black !important;
    // opacity: 1;
}

.btnEdit{
    width:35%;
    margin-top: 5%;
}

.champ p{
    font-size: 14px;
    margin-bottom: 2px;
}

.exit{
    background-color: inherit;
    opacity: 0.8;
    color: #FFFFFF;
    filter: none;
    padding: 5px 9px 5px 9px;
    border:none;
}

.exit:hover{
    border:none;
    background-color: inherit;
    opacity: 1;
    transition:250ms;
    transform: scale(1.1, 1.1);
    color: #d8dfbd;
}

.row-btn{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

.modification{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.modifContainer{
    position: absolute;
    display:flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 5%;
    height: 50%;
    width:25%;
}

.alert{
    margin-top: 1%;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 52%;
}

form{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 80%;
    // color: #FFFFFF;
    // margin-left: 22%;
}

.buttonExit{
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}